<form action="/dogs" method="POST">

    <h1>Create a New Dog</h1>

    <h3>Enter Name:</h3>
    <input type="text" name="dog[name]">
    
    <h3> Enter Breed:</h3>
    <input type="text" name="dog[breed]">

    <input type="submit" value="Click Here!">
</form>