<form action="/cats" method="POST">

    <h3>Create New Cat</h3>

    <h4>Enter name:</h4>
    <input type="text" name="cat[name]">
    
    <h4>Enter breed:</h4>
    <input type="text" name="cat[breed]">

    <input type="submit" value="Submit">
</form>